$floors: 5;
$size: 150px;
$border-size: 4px;

$well-color: red;
$elevator-color: blue;
$booked-color: gold;
$door-color: green;

$button-border-color: black;
$button-bgcolor: white;

html, body {
  margin: 0;
  padding: 0;
}

.building {
  position: relative;
  width: $size + 100px;
  margin: auto;
}

.elevator-well {
  width: $size;
  height: $floors * $size;
  margin: auto;
  border-left: $border-size solid $well-color;
  border-right: $border-size solid $well-color;
  background-color: darken($well-color, 20);
}

.elevator {
  transition: top 1s ease-in-out, background-color 0.2s ease-out;
  position: absolute;
  top: 0;
  border: $border-size solid $elevator-color;
  height: $size - 2 * $border-size;
  width: $size - 2 * $border-size;
  background-color: lighten($elevator-color, 20);

  .elevator-doors {
    transition: width 0.5s ease-in-out;
    background-color: $door-color;
    position: absolute;
    top: 0;
    border: $border-size solid darken($door-color, 10);
    width: $size - 4 * $border-size;
    height: $size - 4 * $border-size;
    right: 0;
  }
}

.elevator-idle {
  background-color: darken($elevator-color, 20);

  .elevator-doors {
    width: 0;
  }
}

button {
  min-width: 30px;
  border: 1px solid $button-border-color;
  background-color: $button-bgcolor;
  border-radius: 2px;
  display: block;

  &.booked {
    background-color: $booked-color;
  }
}

@for $i from -1 through 3 {
  .elevator-floor-#{$i} {
    top: ($floors - $i - 2) * $size;
  }

  button.floor-#{$i} {
    position: absolute;
    right: 0;
    top: ($floors - $i - 2 + 0.5) * $size;
  }
}

textarea {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 32em;
  height: 12em;
}
